

<!-- DEVISE   USERS/SESSIONS-->

<%= stylesheet_link_tag 'http://45.174.216.22/themavangogh/style.css' %>
<%= stylesheet_link_tag 'iot' %>





<div class="form sessions">
  <div class="container">

<div class="logo">
  <span id="js-span">Leonardo</span> 
    <i class="icon icon-davinci "></i>
  <span id="js-span">Davinci</span>
</div>


<h2 >Login</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field relembre">
      <%= f.check_box :remember_me %>
      <%= f.label :Relembre %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
  <% end %>
  
  <div class="shared-links">
    <%= render "users/shared/links" %>
  <div>

<div container>
<div>