






<main>
    <div class="container grid">


 <div class="card"><div class="title">
        <i class="icon icon-info rem200 "></i>
<p>INFORMAÇÃO DO CONCENTRADOR</p>
 </div>
<p>NOME: <strong><%= @infomk[5] %> </strong></p>
                    <p>Tempo de Atividade: <strong><%= @infomk[1] %> </strong></p>
                    <p>Hora: <strong><%= @infomk[4] %> </strong></p>
                        </div><!-- card-->

                <div class="card"><div class="title">
                
        <i class="icon icon-on_svg rem200 "></i>

                    <p>PPPoE ACTIVE</p></div>
                    
                    <h1 class="rem300"><%= @infomk[0] %> </h1>

                </div><!-- card-->
                <div class="card"><div class="title">
        <i class="icon icon-saude_svg rem200"></i>
                    <p>SAÚDE</p></div><!--title card-->

                    
                    <p>CPU Load: <strong><%= @infomk[2] %>% </strong></p>
                    <p>CPU Temperatura: <strong><%= @infomk[3] %> C </strong></p>

                </div><!-- card-->
                <div class="card"><div class="title">
        <i class="icon icon-vlan_svg rem200"></i>
                    <p>VLANs</p></div><!--title card-->
                    <p>Qtd: <strong><%= @infomk[6] %> </strong></p>
                    <p>Alerta:: <strong><%= " 0" %> </strong></p>

                </div><!-- card-->
                <div class="card"><div class="title">
                    <p>PPPoE OFF</p></div><!--title card-->
                        <p>>..............................................</p>
                </div><!-- card-->
                <div class="card"><div class="title">
                    <p>DESCONECTOU EM 24Hr</p></div><!--title card-->
                        <p><strong>3x</strong> lorem@lorem </p> 
                </div><!-- card-->
                <div class="card"><div class="title"></div><!--title card-->
                    <div>
                        <p>>..............................................</</p>
                    </div>
                </div><!-- card-->
                <div class="card"><div class="title"></div><!--title card-->
                    <div>
                    <%= @infomk[7] %> 
                        <p>>..............................................</</p>
                    </div>
                </div><!-- card-->
                <div class="card"><div class="title"></div><!--title card-->
                    <div>
                        <p>>..............................................</</p>
                    </div>
                </div><!-- card-->
              
            </div><!-- cards-->
        <section><!-- dashboard-->
        
    </div><!-- container-->






</main>




