<main class="layout">
    <div class="container">

        <section class="layout">
            <div class="title">DASHBOARD: <%= @infomk[5] %> </div>

            <div class="cards">



                <div class="card">
                    <i class="icon icon-info  "></i>
                    <div class="title">INFORMAÇÃO DO CONCENTRADOR</div>
                    <p>NOME:<strong><%= @infomk[5] %> </strong></p>
                    <p>UpTime: <strong><%= @infomk[1] %></strong> </p>
                    <p>Hora: <strong><%= @infomk[4] %> </strong></p>
                </div card >
                <div class="card">
                    <i class="icon icon-on  "></i>
                    <div class="title">ACTIVES</div>
                    <p><strong class="rem300"><%= @infomk[0] %> </strong></p>
                </div card >
                <div class="card">
                    <i class="icon icon-saude  "></i>
                    <div class="title">SAÚDE</div>
                    <p>CPU Load: <strong><%= @infomk[2] %>% </strong></p>
                    <p>CPU Temperatura: <strong><%= @infomk[3] %> C </strong></p>
                </div card >
                <div class="card">
                    <i class="icon icon-vlan  "></i>
                    <div class="title">SAÚDE</div>
                    <p>CPU Load: <strong><%= @infomk[2] %>% </strong></p>
                    <p>CPU Temperatura: <strong><%= @infomk[3] %> C </strong></p>
                </div card >
                <div class="card">
                    <i class="icon icon-vlan  "></i>
                    <div class="title">VLANs</div>
                    <p>Qtd: <strong><%= @infomk[6] %> </strong></p>
                    <p>Alerta:: <strong><%= " 0" %> </strong></p>
                </div card >




            </div cards >
                                        



        </section>
    </div container>
</main>