<footer class="lay2" id="js-footer">

<div class="container ">

    <ul>
          <li><%= link_to 'demo', application_path %></li>
          <li><%= link_to 'IoT', iot_welcome_index_path %></li>
          <li><%= link_to 'Admin', admins_backoffice_welcome_index_path %></li>
          <li><%= link_to 'Pontual' %></li>
          <li><%= link_to 'Grain in Grain' %></li>
          <li>
            <%= link_to webcoruja_welcome_index_path do%>
                <i class="icon icon-home " alt=""> </i>
            <% end %>
          </li>
        </ul>
</div container>

</footer>
